.notifyLibrary {
    .notify-accept {
        .ant-btn-default {
            background-color: #0F75DC;
            color: white;
            font-weight: 500;
        }
    }

    .notify-reject {
        .ant-btn-default {
            background-color: #ADADAD;
            color: white;
            font-weight: 500;
        }
    }
}