.detail {
    height: calc((100vh - 188px) / 2 - 62px);
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    .wrapper {
        flex: 1;
        padding: 16px;
        display: flex;
        flex-direction: column;
    }
}

.header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-bottom: 16px;
    margin: 0 16px;
    border-bottom: 2px solid #b4b4b4;

    .header-titles {
        flex: 1;
        margin-left: 16px;
    }

    .header-content {
        flex: 1;
    }
}

.edit-icon {
    color: #084f95;
    position: absolute;
    top: 0;
    right: 5%;
    cursor: pointer;
}

.title {
    font-weight: 600;
    font-size: 1.8rem;
}

.title+.title {
    margin-top: 8px;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .user-name {
        font-size: 1.8rem;
        margin-left: 4px;
    }
}

.body {
    flex: 1;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .time-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .item-title {
            color: #b4b4b4;
            font-weight: 600;
        }

        .item-hours,
        .item-date {
            font-weight: 500;
        }
    }

    .icon {
        color: #b4b4b4;
        font-weight: 600;
        font-size: 3rem;
    }
}