.taskbar {
    height: 50px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
}

.taskbar.border {
    border: 1px solid #000;
    border-radius: 4px;
}

.task-content {
    padding: 8px 32px;
    display: flex;
    align-items: center;

    .content-title {
        flex: 1;
        font-size: 1.8rem;
        font-weight: 600;
        margin-right: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.content-title.disabled {
    color: #b4b4b4;
}

.right-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .process{
        font-weight: 600;
        padding-left: 12px;
        border-left: 1px solid #000;
    }
}
