.content_layout {
    width: calc(97%);
    height: 40px;
    background-color: #dbd6d6;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    right: -3%;
    animation: topToBottom 0.1s;
}

.icon_layout {
    position: absolute;
    left: -5px;
    top: -20px;
}

@keyframes topToBottom {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    80% {
        transform: translateY(0);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}